nav .navbar{
    background-color: aqua;
}
.navbar{
    display: flex;
    flex-direction: row;
    font-size:18px;
    
    
  
    
}
.Option{
    justify-content: space-evenly;
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
    text-decoration: none;
    background-color: aqua;
}

.navbar a{
    margin-left: 20px;
}
.widget{
    display:flex;
    flex-direction: column;
    margin-right: 20px;
}

